<!--
  Generated template for the NewsDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem.title.rendered}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="selectedItem" class="selection news_detail_page">
    <div *ngIf="selectedItem.better_featured_image" class="news_img_box">
      <img class="news_detail_page_img"
           [src]="selectedItem.better_featured_image.media_details.sizes.medium.source_url"/>
    </div>
    <div class="news_content_box">
      <h2 [innerHTML]="selectedItem.title.rendered"></h2>
      <span>{{itemDate | date: 'd MMMM y'}}</span>
      <p [innerHTML]="itemContent"></p>
    </div>
  </div>

  <div class="news_content_box">
    <h2>
      Comments
    </h2>
    <ion-card *ngFor="let comment of comments">
      <p [innerHTML]="comment.content.rendered"></p>
      <span>{{comment.date | date:'d MMM y'}} door {{comment.author_name}}</span>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button icon-right>
        <ion-icon name="bookmark"></ion-icon>
      </button>
      <button ion-button icon-right (click)='share();'>
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
