.news {
  background: #f3F3F3;
}

.newsimg {
  display: block;
  width: 100%;
}

.news .item.item-block .item-inner {
  padding-right: 0;
}

.news .item {
  padding: 0;
  margin-bottom: 16px;
}
.news p{
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow:hidden;
  height: 50px;

}

.dateSpan {
  color: #999;
  font-size: 0.75em;
}

.news .label {
  margin: 0;
}

.news .card-title-md {
  font-size: 1.2em;
}

.news .card-title h2 {
  width: 100%;
  white-space: pre-wrap;
}

.news .card-content {
  padding-bottom: 0;
}
.news .searchbar{
  padding: 0;
  margin-bottom: 16px;
  background: transparent;
}
